# Зависимости (их можно переустановить командой npm install)
node_modules/

# Папка со сборкой (она генерируется каждый раз заново)
build/
texts/

# Логи и временные файлы
*.log
*.tmp
.DS_Store

# Настройки редакторов (чтобы не мешать другим)
.vscode/
.idea/

# Файлы окружения (там могут быть пароли)
.env
.env.local